<div class ="form">
  <h1 class="form-title">プロフィール更新ページ</h1>
  <div class="form-gravatar">
  <%= gravatar_for @user %>
  <a href="https://gravatar.com/emails" target="_blank">change</a>
  </div>
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render'shared/error_messages'%>
    <%= f.label :name , class: "form_control"%>
    <%= f.text_field :name, class: "form_control" %>
    <%= f.label :email , class: "form_control"%>
    <%= f.email_field :email, class: "form_control" %>
    <%= f.label :password , class: "form_control"%>
    <%= f.password_field :password, class: "form_control" %>
    <%= f.label :password_confirmation , class: "form_control"%>
    <%= f.password_field :password_confirmation, class: "form_control" %>
    <%= f.submit"更新" ,class: "form_btn" %>
  <% end %>
</div>

