
<div class ="form">
  <h1 class="form-title">新規登録ページ</h1>
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render'shared/error_messages', object: f.object %>
    <%= f.label :name , class: "form_control"%>
    <%= f.text_field :name, class: "form_control" %>
    <%= f.label :email , class: "form_control"%>
    <%= f.email_field :email, class: "form_control" %>
    <%= f.label :password , class: "form_control"%>
    <%= f.password_field :password, class: "form_control" %>
    <%= f.label :password_confirmation , class: "form_control"%>
    <%= f.password_field :password_confirmation, class: "form_control" %>
    <%= f.submit"登録" ,class: "form_btn" %>
  <% end %>
</div>
