<footer class="footer">
  <div class="footer-top">
    <ul>
      <div class="footer-top-title">
        <li><%= link_to "MY BLOGについて" ,"#" %><li>
      </div>
      <div class="footer-top-content">
        <li><%= link_to "お知らせ" ,"#" %></li>
        <li><%= link_to "お問い合わせ" ,"#" %></li>
        <li><%= link_to "紹介", "#" %></li>
      </div>
    </ul>
    <ul>
      <div class="footer-top-title">
        <li><%= link_to "MY BLOGを見る" ,"#" %></li>
      </div>
      <div class="footer-top-content">
        <li><%= link_to "カテゴリー一覧" ,"#" %></li>
        <li><%= link_to "おすすめ一覧" ,"#" %></li>
        <li><%= link_to "急上昇一覧" ,"#" %></li>
      </div>
    </ul>
    <ul>
      <div class="footer-top-title">
        <li><%= link_to "MY BLOG リンク" ,"#" %></li>
      </div>
      <div class="footer-top-content">
        <li><%= link_to "Facebook" ,"#" %></li>
        <li><%= link_to "Twitter" ,"#" %></li>
        <li><%= link_to "Note" ,"#" %></li>
      </div>
    </ul>
    

  </div>
  <div class="footer-bottom">
    <p><%= image_tag('NW_055.jpg',alt:'logo',width:'25px')%><p>
    <p class="footer-bottom-content"><%= link_to"MY BLOG" ,"#" %></p>
  </div>
</footer>