<header class="header">
  <div class="header-left">
    <%= link_to image_tag('NW_055.jpg', alt:"logo",width:"100px"), root_url %>
  </div>
  <div class="header-title">
    <h1><%= link_to "MY BLOG" ,root_url %></h1>
  </div>
  <div class="header-right">
    <ul class="header-right-ul">
      <% if logged_in? %>
        <li class="header-right-ul-btn"><%= link_to '全てのユーザー', users_path %></li>
        <li class="header-right-ul-btn"><%= link_to '更新', edit_user_path(current_user) %></li>
        <li class="header-right-ul-btn"><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
        <li class="header-right-ul-btn"><%= link_to'新規登録', new_user_path %></li>
        <li class="header-right-ul-btn"><%= link_to'ログイン', login_path %></li>
      <% end %>
    </ul>
  </div>
</header>